body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #919191;
  line-height: 26px;
  font-weight: 400;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

img {
  max-width: 100%;
  display: inline-block;
}

.top-bar {
  position: relative;
  line-height: 48px;
  z-index: 999;
  background: #f7f7f7;
  padding: 6px 0;
}

.top-bar ul {
  padding: 0;
  margin: 0;
}

.top-bar ul li {
  display: inline-block
}

.top-bar .top-bar-info li {
  color: #919191;
  margin-right: 20px;
  position: relative;
  top: 0px;
}

.top-bar .top-bar-info li i {
    color: #8dc640;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: 3px;
}

.top-bar .clearfix {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.top-bar .social {
  display: inline-block;
  margin-right: 25px;
}

.top-bar .social li a {
  margin: 0 8px;
  color: #919191;
  font-size: 14px;
}

.top-bar .social li a:hover {
  color: #8dc640;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}


.top-bar .social li:last-child {
  padding-right: 0px;
}

/* End TopBar */

/* Header */
.theme_menu {
    position: relative;
    z-index: 99;
    padding: 25px 0;
    background: #ffffff
}

.main-navigation {
  text-transform: uppercase;
  font-weight: 700;
}

.main-navigation a {
  color: #303030;
}

.main-navigation a:hover {
  color: #8dc640;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* End header */

/* SLIDER */
.tp-banner-container ul {
  padding: 0;
  margin: 0;
}
/* END SLIDER */

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

/* Counter section */
.fact-counter.style-2 {
  position: relative;
  padding: 70px 0px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  color: #ffffff;
  margin-bottom: 3px;
}

.section-title {
  position: relative;
  margin-bottom: 50px;
}

.section-title h2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 32px;
}

.fact-counter.style-2 .column {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  z-index: 5;
}

.fact-counter.style-2 .item {
  position: relative;
  background: #fbfbfb;
  padding: 17px 0 25px;
  border: 1px solid #f4f4f4;
}

.fact-counter.style-2 .column .icon {
  font-size: 40px;
  position: relative;
  right: 5px;
  margin-bottom: 10px;
  color: #8dc640;
  min-height: 102px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.fact-counter.style-2 .count-outer {
  position: relative;
  font-size: 40px;
  font-weight: 400;
  padding: 0px 10px 5px;
  font-family: 'Roboto Slab', Sans-serif;
  color: #303030;
}

.fact-counter.style-2 .column .counter-title {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  color: #8dc640;
}

/* About */
.sec-padd2 {
  padding: 80px 0 30px;
}

.about {
  position: relative;
}

.section-title {
  position: relative;
  margin-bottom: 50px;
}

.section-title h2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 32px;
}

.about .section-title p {
  font-size: 16px;
  margin: 10px 0 0;
}

.about .img-box {
  margin-bottom: 50px;
}

.about .content {
  margin-bottom: 50px;
}

.about .content h2 {
  font-weight: 700;
  position: relative;
  top: -6px;
  margin-bottom: 10px;
}

.about .content p {
  margin-bottom: 50px;
}

/* OUR PARTNERS */
.sec-padd {
  padding: 80px 0;
}

.clients-section .section-title {
  margin-bottom: 10px;
}

.clients-section .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  padding-bottom: 70px;
  padding-top: 40px;
}

.clients-section .owl-carousel .owl-nav {
  padding: 0;
  position: absolute;
  right: 50%;
  margin: 0;
  margin-right: 0px;
  margin-right: -51px;
  bottom: 0;
}

.clients-section .owl-carousel .owl-nav [class*="owl-"] {
  color: #303030;
  font-size: 2rem;
  margin: 0 5px;
  margin-left: 5px;
  padding: 0;
  background-color: transparent;
  height: 45px;
  border-radius: 50%;
  width: 45px;
  line-height: 41px;
  border: 2px solid #f4f4f4;
  text-align: center;
  margin-left: 1px;
  display: inline-block;
  transition: color .3s ease;
}

.clients-section .owl-carousel .owl-nav span {
  position: relative;
  top: -2px;
}
/* END OUR PARTNERS */

/* SERVICES */
.inner-banner {
  position: relative;
  background: #a0a19b;
  background-size: cover;
}

.inner-banner::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.inner-banner .box {
  position: relative;
  display: table;
  height: 280px;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  color: #fff;
}

.services.fact-counter.style-2 .item {
  background: transparent;
  border: 1px solid transparent;
}

.services.fact-counter.style-2 .column .icon{
  color: #69bae8;
}

.services.fact-counter.style-2 .column .counter-title {
  color: #000;
  font-size: 15px;
  font-weight: normal;
}

.services.about {
  padding: 0;
}
/* END SERVICES */

/* ABOUT US */
.about-us {
  padding-top: 20px
}

.about-us h5 {
  margin-bottom: 15px;
}

.why-chooseus {
  padding-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-padd-top {
  padding-top: 80px;
}

.why-chooseus .item {
  padding: 30px 18px 24px;
  border: 1px solid #f4f4f4;
  margin-bottom: 30px;
  transition: .5s ease;
}

.why-chooseus.style-2 .item {
  border: 0px;
  padding: 8px 18px;
}

.why-chooseus .inner-box {
  position: relative;
  padding-left: 70px;
}

.why-chooseus .inner-box .icon_box {
  position: absolute;
  left: 0;
  top: -20px;
  color: #8dc63f;
  font-size: 50px;
}

.why-chooseus .item h4 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: .5s ease;
}

.why-chooseus .item:hover h4 {
  color: #8dc63f;
  transition: .5s ease;
}
/* END ABOUT US */

/* CONTACT */
.get-touch-area {
  padding-top: 80px;
  padding-bottom: 80px;
}

.get-touch-area .sec-title {
  display: block;
  padding: 0 160px 40px;
}

.get-touch-area .sec-title p {
  color: #a4a4a4;
  font-size: 20px;
  line-height: 30px;
  margin: 25px 0 0;
}

.get-touch-area .single-item {
  display: block;
  padding: 39px 20px 31px;
}

.get-touch-area .single-item .icon-holder {
  padding-bottom: 33px;
}

.get-touch-area .single-item .icon-holder span {
  color: #8dc63f;
  font-size: 50px;
}

.get-touch-area .single-item .text-holder .border {
  height: 1px;
  width: 60px;
  background: #f4f4f4;
  display: inline-block;
}

.contact-form-area {
  padding-bottom: 50px;
}

.contact-form-area .default-form-area {
  border: 2px solid #f4f4f4;
  padding: 28px 28px 0;
  margin-bottom: 50px;
}

.default-form {
  position: relative;
}

.default-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.thm-btn {
  position: relative;
  background: #253877;
  font-size: 14px;
  line-height: 48px;
  border-radius: 25px;
  color: #ffffff;
  border: 1px solid #253877;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  padding: 0 38px;
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.contact-form-area .form-right-box {
  background: #f7f7f7;
  padding-top: 40px;
  padding-bottom: 37px;
}

.contact-form-area .form-right-box .img-box {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
      margin-bottom: 0px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
}

.contact-form-area .form-right-box h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px;
}

.contact-form-area .form-right-box span {
  color: #8dc63f;
}

.contact-form-area .form-right-box p {
  margin: 9px 0 5px;
}

.contact-form-area .form-right-box .border {
  height: 1px;
  width: 60px;
  display: inline-block;
  background: #e3e3e3;
}

.contact-form-area .form-right-box .social-links {
  display: block;
  margin: 18px 0 0;
}

.contact-form-area .form-right-box .social-links li {
  display: inline-block;
  margin: 0 10px;
}

.contact-form-area .form-right-box .social-links li a i {
  font-size: 16px;
  color: #848484;
  transition: all 500ms ease;
}
/* END CONTACT */

.scroll-top {
  width: 50px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  display: none;
  font-size: 26px;
  color: #fff;
  text-align: center;
  background: #8dc63f;
}

.scroll-top:hover {
  color: #fff;
}

/* FOOTER */
footer {
  position: relative;
  background: #111709;
  padding: 50px 0 80px;
  border-top: 4px solid #8dc640;
  margin-top: 60px;
}

footer:before {
  content: '';
  position: absolute;
  top: -64px;
  height: 60px;
  width: 100%;
  background-color: #0000;
}


footer .footer-logo {
  margin-bottom: 40px;
  padding-top: 5px;
}

footer .about-column .text {
  margin-bottom: 20px;
}

.about-column ul {
  list-style: none;
}

.about-column li {
  position: relative;
  padding-left: 30px;
  font-size: 15px;
  color: #919191;
  line-height: 26px;
  margin-bottom: 14px;
}

.about-column li i {
  font-size: 18px;
  color: #8dc640;
  position: absolute;
  left: 0;
  top: 6px;
}

footer .contact-column {
  position: relative;
}

/* footer .footer-widget {
  margin-top: 50px;
} */

footer .section-title {
  margin-bottom: 40px;
}

footer .section-title h4 {
  color: #fff;
  padding-top: 18px;
  padding-bottom: 10px;
}

footer .contact-column h5 {
  font-size: 16px;
  color: #919191;
  margin-bottom: 18px;
}

footer .contact-column form {
  position: relative;
  margin-bottom: 25px;
}

footer .contact-column input {
  background: #2e2e2e;
  border: 1px solid #363636;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  color: #fff;
}

footer .contact-column button {
  position: absolute;
  right: 0;
  top: 0;
  height: 42px;
  width: 40px;
  line-height: 42px;
  background: #8dc640;
  color: #fff;
  border: 0;
}

footer .contact-column p {
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-bottom: 1px solid #363636;
}

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  display: inline-block;
  color: #919191;
  margin-right: 15px;
  font-size: 16px;
  transition: .5s ease;
}
/* END FOOTER */

.shop-sidebar .category-style-one {
  position: relative;
}

.shop-sidebar .section-title {
  margin-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 50px;
}

.section-title h4 {
  position: relative;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
}

.shop-sidebar .category-style-one ul {
  margin-bottom: 50px;
  margin-top: -15px;
  list-style: none;
}

.shop-sidebar .category-style-one ul li {
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  padding-bottom: 0px;
}

.shop-sidebar .category-style-one ul li a {
  font-weight: normal;
  color: #848484;
  position: relative;
  width: 100%;
  transition: .5s ease;
  line-height: 54px;
  display: block;
}

.shop-sidebar .category-style-one ul li a i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.single-shop-item {
  margin-bottom: 40px;
}

.single-shop-item .img-box {
  position: relative;
  overflow: hidden;
  transition: .5s ease;
  background: #ffffff;
  text-align: center;
}

.single-shop-item .overlay {
  background-color: rgba(0, 0, 0, 0.49);
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 450ms ease-out 0s;
  transform: rotateY(180deg) scale(0.5,0.5);
}

.single-shop-item .overlay .box {
  display: table;
  height: 100%;
  width: 100%;
}

.single-shop-item .overlay .box .content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.single-shop-item .img-box .overlay .box .content a i {
  background: #8dc63f;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 45px;
  line-height: 48px;
  transition: all 500ms ease 0s;
  width: 45px;
}

.single-shop-item .content-box {
  position: relative;
  border: 1px solid #f4f4f4;
  border-top: 0px;
}

.single-shop-item .content-box .inner-box {
  border-bottom: 1px dashed #eee;
  padding: 14px 20px;
}

.single-shop-item .content-box h4 {
  font-size: 16px;
  margin: 0px 0px;
  line-height: 1.4em;
  color: #222;
  margin-bottom: 6px;
}

.single-shop-item .content-box h4 a {
  color: #252525;
}

.single-shop-item:hover .img-box .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg) scale(1,1);
}

.product-content-box {
  margin-bottom: 106px;
}

.product-content-box .img-box {
  text-align: center;
}

.product-content-box .content-box {
  margin-left: -50px;
}

.product-content-box .content-box h3 {
  color: #222;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.product-content-box .content-box .review-box {
  margin: 0 0 10px;
}

.product-content-box .content-box .review-box ul {
  display: inline-block;
  padding-right: 1px;
}

.product-content-box .content-box .review-box ul li {
  display: inline-block;
  margin-right: 3px;
}

.product-content-box .content-box .text {
  margin: 0px 0 0;
  overflow: hidden;
  padding: 24px 0 9px;
}

.product-tab-box {
  padding: 30px;
  padding-top: 0;
  border: 1px solid #f4f4f4;
}

.product-tab-box .tab-menu {
  border-bottom: 1px solid #f7f7f7;
  margin-top: -50px;
  margin-bottom: 33px;
  position: relative;
  left: -31px;
}

.product-tab-box .tab-menu li {
  display: block;
  float: left;
  margin-bottom: -1px;
}

.product-tab-box .tab-menu li a {
  border: 1px solid transparent;
  border-radius: 0;
  display: block;
  margin-right: 10px;
  padding: 13px 35px;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  background: #f7f7f7;
  transition: all 500ms ease;
}

.product-tab-box .tab-menu li.active a, .product-tab-box .tab-menu li:hover a {
  background: #8dc63f;
  color: #fff;
  border-color: #8dc63f;
}

.related-product {
  border-top: 1px solid #f7f7f7;
  margin-top: 60px;
  padding-top: 56px;
}

.section-title {
  position: relative;
  margin-bottom: 50px;
}

.section-title h3 {
  position: relative;
  text-transform: capitalize;
  font-weight: 400;
}

.single-shop-item {
  margin-bottom: 40px;
}

.single-shop-item .img-box {
  position: relative;
  overflow: hidden;
  transition: .5s ease;
  background: #fff;
  text-align: center;
}

.single-shop-item .overlay {
  background-color: rgba(0, 0, 0, 0.49);
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 450ms ease-out 0s;
  transform: rotateY(180deg) scale(0.5,0.5);
}

.single-shop-item:hover .img-box .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg) scale(1,1);
}

.single-shop-item .overlay .box {
  display: table;
  height: 100%;
  width: 100%;
}

.single-shop-item .overlay .box .content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.single-shop-item .img-box .overlay .box .content a i {
  background: #8dc63f;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 45px;
  line-height: 48px;
  transition: all 500ms ease 0s;
  width: 45px;
}

.single-shop-item .content-box {
  position: relative;
  border: 1px solid #f4f4f4;
  border-top: 0px;
}

.single-shop-item .content-box .inner-box {
  border-bottom: 1px dashed #eee;
  padding: 14px 20px;
}

.mation-tab td {
  padding: 10px 0
}
